<div class="container">
<h2>New Card</h2>
<%= form_for :card, url: cards_controller_index_path do |card| %>
  <p>
    <%= card.label :original_text %><br>
    <%= card.text_area :original_text %>
  </p>
  <p>
    <%= card.label :translated_text %><br>
    <%= card.text_area :translated_text %>
  </p>
  <p>
    <%= card.submit %>
  </p>
<% end %>
</div>
